[Unit]
Description=iFi Streamer Tidal Connect Service
[Service]
Restart=on-failure
ExecStart=/usr/ifi/ifi-tidal-release/bin/tidal_connect_application \
				--tc-certificate-path "/usr/ifi/ifi-tidal-release/id_certificate/IfiAudio_ZenStream.dat" \
				--netif-for-deviceid eth0 \
				-f "DietPi stream to project" \
				--codec-mpegh true \
				--codec-mqa false \
				--model-name "DietPi Streamer" \
				--disable-app-security false \
				--disable-web-security false \
				--enable-mqa-passthrough false \
				--playback-device "Project RS USB Audio 2.0: - (hw:1,0)" \
				--log-level 3
User=root
Group=root
RestartSec=1
KillMode=control-group
[Install]
WantedBy=multi-user.target
